.home_container {
    padding: 3.5em 1em;
    height: 100%;
    overflow: auto;
}

.home_container + .action_btn button {
    background-color: transparent;
    border: none;
}

.home_container + .action_btn svg {
    display: flex;
    font-size: 1.3em;
}

.home_container + .action_btn {
    display: flex;
    align-items: center;
    padding: 4em 1.5em 2em 1.5em;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
}